.accordion-body{
  max-height:0;
  overflow:hidden;
  transition:max-height 0.5s ease;
}

.donation-img{
  width:100%;
  height:auto;
  margin-top:10px;
  transform:scale(0.9);   /* start slightly zoomed out */
  opacity:0;
  transition:transform 0.5s ease, opacity 0.5s ease;
  object-fit:contain;     /* ensures full image fits */
}

