.accordion-body{
  max-height:500px;   /* large enough so content shows */
  overflow:hidden;
  transition:max-height 0.5s ease;
}

.donation-img{
  width:100%;
  height:auto;
  margin-top:10px;
  transform:scale(1);     /* normal size */
  opacity:1;              /* visible */
  transition:transform 0.5s ease, opacity 0.5s ease;
  object-fit:contain;     /* ensures full image fits */
}
